<template>
  <v-container fluid class="px-12">
    <v-card flat>
      <v-card-title>其他设置</v-card-title>
    </v-card>
  </v-container>
</template>
<script>
export default {
  vName: "other",
  data: () => ({}),
};
</script>
<style lang="scss" scoped>
</style>